{% extends 'base.html' %}
{% block body %}
  <div class="container">
      <h3>Add Todo</h3>
      <form action = "/" method = "POST">
          <div class="mb-3">
            <label for="title" class="form-label">Todo title</label>
            <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="title">
          </div>
          <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" class="form-control" id="desc", name = "desc">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
  <div class="container my-3">
      <h3>Your Todo</h3>
      {% if all_todo|length ==0 %}
        <div class="alert alert-primary" role="alert">
          No Todo found! Please add a Todo.
        </div>
        {% else %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sno.</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">DateTime</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
            {% for todo in all_todo %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td><a href='/delete/{{todo.Sno}}' type="button" class="btn btn-danger btn-sm mx-1">Delete</button>
                  <a href = '/update/{{todo.Sno}}' type="button" class="btn btn-secondary btn-sm mx-1">Update</button>
                </td>
              </tr>                    
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
  </div>  
{% endblock body %}